@import "../assets/style/theme";
@import "../assets/style/mixin";

.move_in_cart {
  animation: mymove .5s ease-in-out;
}
@keyframes mymove {
  0% {
    transform: scale(1)
  }
  25% {
    transform: scale(.8)
  }
  50% {
    transform: scale(1.2)
  }
  75% {
    transform: scale(.9)
  }
  100% {
    transform: scale(1)
  }
}

.header-box {
  width: 100%;
}

header {
  height: 120px;
  z-index: 30;
  position: relative;
}
.w-header{
  height: 120px;
  width: 100%;
  color: #999;
  font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
  .w-header-top{
    height: 30px;
    line-height: 30px;
    a{
      text-decoration: none;
      outline: 0;
      color: #999;
    }
    a:hover{ color:red;}
    ul{
      float: right;
      right: 0;
      top: 0;
      li{
        float: left;
        position: relative;
      }
    }
  }
  .w-header-bottom{
    .nav-banner{
      background: url(/static/images/u2247.jpg) no-repeat 50%;
      background-size: cover;
      display: block;
    @include wh(100%, 90px);
      text-indent: -9999px;
      background-position: 0 0;
    }
  }
}
.mallSearch {
  /*width: 600px;*/
  padding-top: 15px;
  float: right;
  margin-right: 60px;
  form {
    border: solid #FF0036;
  }
  .s-combobox{
    height: 36px;
    float: left;
  }
  input {
    height: 36px;
    width: 350px;
    font: 16px/22px arial;
    box-sizing: border-box;
    background: none;
    color: #000;
    margin: 0;
    z-index: 2;
    padding: 5px 3px 5px 5px;
    outline: 0;
    border: none;
    position: relative;
  }
  .btnSearch {
    width: 132px;
    height: 36px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #fff;
    background-color: #d30019;
    cursor: pointer;
    border: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    font-family: '\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f"
  }
  .btnSelect{
    width: 90px;
    height: 36px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #666;
    background-color: #ddd;
    cursor: pointer;
    border: 0;
    overflow: hidden;
    font-family: '\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f"
  }
  .btn-item{
    color: #666;
    background-color: #fff;
    width: 89px;
    height: 36px;
    font-size: 18px;
    letter-spacing: 5px;
    cursor: pointer;
    border: 0;
    overflow: hidden;
    font-family: '\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f"
  }
  /* 下拉按钮样式 */
  .dropbtn {
    cursor: pointer;
  }

  /* 容器 <div> - 需要定位下拉内容 */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* 下拉内容 (默认隐藏) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /*min-width: 160px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  /* 下拉菜单的链接 */
  .dropdown-content a {
    color: black;
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
  }

  /* 鼠标移上去后修改下拉菜单链接颜色 */
  .dropdown-content a:hover {background-color: #f1f1f1}

  a{
    .btn-item:hover{
      background-color: red;
      color: #fff;
    }
  }
  /* 在鼠标移上去后显示下拉菜单 */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* 当下拉内容显示后修改下拉按钮的背景颜色 */
  .dropdown:hover .dropbtn {
    background-color: red;
    color: #fff;
  }

  .hot-query{
    height: 24px;
    font-size: 14px;
    padding: 10px 0 0;
    margin-left: -13px;
    overflow: hidden;
    width: 100%;
    li {
      display: inline-block;
      line-height: 1.1;
      padding: 0 12px;
      list-style: none;
    }
    a{
      color: #999;
    }
    .hot-query-highlight{
      border-left: 1px solid #ccc;
    }
  }
}
.nav-submenu{
  width: 100%;
  height: 40px;
  background-color: rgba(153, 0, 0, 1);
  .nav-submenu-box{
    height: 40px;
    .btnMain {
      width: 194px;
      height: 40px;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 2px;
      color: #fff;
      background-color: rgba(204, 0, 0, 1);
      cursor: pointer;
      border: 0;
      right: 0;
      top: 0;
      overflow: hidden;
      -moz-box-shadow: 5px 0px 6px rgba(0, 0, 0, 0.498039215686275);
      -webkit-box-shadow: 5px 0px 6px rgba(0, 0, 0, 0.498039215686275);
      box-shadow: 5px 0px 6px rgba(0, 0, 0, 0.498039215686275);
    }
    .btnItem {
      width: 130px;
      height: 40px;
      font-size: 16px;
      letter-spacing: 2px;
      color: #fff;
      background-color: #990000;
      cursor: pointer;
      border: 0;
      right: 0;
      top: 0;
      overflow: hidden;
    }
    .router-link-active {
      .btnItem{
        font-weight: bold;
        background-color: rgba(204, 0, 0, 1);
        -moz-box-shadow: 5px 0px 6px rgba(0, 0, 0, 0.498039215686275);
        -webkit-box-shadow: 5px 0px 6px rgba(0, 0, 0, 0.498039215686275);
        box-shadow: 5px 0px 6px rgba(0, 0, 0, 0.498039215686275);
      }
    }
    .btnItem:hover {
      font-weight: bold;
      background-color: rgba(204, 0, 0, 1);
      -moz-box-shadow: 5px 0px 6px rgba(0, 0, 0, 0.498039215686275);
      -webkit-box-shadow: 5px 0px 6px rgba(0, 0, 0, 0.498039215686275);
      box-shadow: 5px 0px 6px rgba(0, 0, 0, 0.498039215686275);
    }
    /* 下拉按钮样式 */
    .menubtn {
      cursor: pointer;
    }
    /* 容器 <div> - 需要定位下拉内容 */
    .menudown {
      position: relative;
      display: inline-block;
    }
    /* 下拉内容 (默认隐藏) */
    .menudown-content {
      display: none;
      z-index: 20;
      position: absolute;
      background-color: #f9f9f9;
      width: 194px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    /* 下拉菜单的链接 */
    .menudown-content a {
      color: black;
      /*padding: 12px 16px;*/
      text-decoration: none;
      display: block;
    }
    /* 鼠标移上去后修改下拉菜单链接颜色 */
    .menudown-content a:hover {background-color: #f1f1f1}

    a{
      .btn-item:hover{
        background-color: red;
        color: #fff;
      }
    }
    /* 在鼠标移上去后显示下拉菜单 */
    .menudown:hover .menudown-content {
      display: block;
    }

    /* 当下拉内容显示后修改下拉按钮的背景颜色 */
    .menudown:hover .menubtn {
      background-color: red;
      color: #fff;
    }
    .menudown-item{
      .item{
        margin: 10px;
        div{
          margin: 10px 0px 10px 0px;
        }
        a {
          display: inline!important;
        }
      }
      border-bottom: 1px solid rgba(128, 128, 128, 0.26);
    }
    .menudown-item-content{
      width: 800px;
      display: none;
      position: absolute;
      margin-left: 194px;
      background-color: white;
      top: 0;
      .searchItem{
        background-color: rgba(242, 242, 242, 1);
        span {
          padding: 5px;
          display: inline-table;
          width: 100px;
        }
        .router-link-exact-active{
          color: #CF010E;
        }
        a {
          padding: 0px!important;
        }
        a:hover{
          color: #CF010E!important;
        }
      }
    }
    .menudown-item:hover .menudown-item-content {
      display: block;
    }

  }
}
.w-box {
  margin-top: 25px;
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 22px;
    a {
      color: #c8c8c8;
      display: block;
      font-size: 14px;
      padding: 0 25px;
      &:hover {
        color: #fff;
      }
    }
  }
  .img-w-box{
    margin-top: 6px;
  }
  .nav-aside {
    position: relative;
    &:before {
      background: #333;
      background: hsla(0, 0%, 100%, .2);
      content: " ";
    @include wh(1px, 13px);
      overflow: hidden;
      position: absolute;
      top: 4px;
      left: 0;
    }
    &.fixed {
      width: 262px;
      position: fixed;
      left: 50%;
      margin-left: 451px;
      margin-top: 0;
      z-index: 32;
      top: -40px;
      transform: translate3d(0, 59px, 0);
      transition: transform .3s cubic-bezier(.165, .84, .44, 1);
      .user {
        &:hover {
          a:before {
            background-position: -215px 0;
          }
        }
      }
      .shop {
        &:hover {
          a:before {
            background-position: -210px -22px;
          }
        }
      }
    }
  }

  .right-box {
    display: flex;
  }
  .nav-aside {
    display: flex;
  }
  // 用户
  .user {
    margin-left: 41px;
    width: 36px;
    &:hover {
      a:before {
        background-position: -5px 0;
      }
      .nav-user-wrapper {
        top: 18px;
        visibility: visible;
        opacity: 1;
        -webkit-transition: opacity .15s ease-out;
        transition: opacity .15s ease-out;
      }
    }
    > a {
      position: relative;
    @include wh(36px, 20px);
      display: block;
      text-indent: -9999px;
      &:before {
        content: " ";
        position: absolute;
        left: 8px;
        top: 0;
      @include wh(20px);
        background: url(/static/images/account-icon@2x.32d87deb02b3d1c3cc5bcff0c26314ac.png) -155px 0;
        background-size: 240px 107px;
        transition: none;
      }

    }
    li + li {
      text-align: center;
      position: relative;
      border-top: 1px solid #f5f5f5;
      line-height: 44px;
      height: 44px;
      color: #616161;
      font-size: 12px;
      &:hover {
        background: #fafafa;
      }
      a {
        display: block;
        color: #616161;
      }
    }
    .nav-user-avatar {
      > div {
        position: relative;
        margin: 0 auto 8px;
      @include wh(46px);
        text-align: center;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          border-radius: 50%;
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .06);
        }
        .avatar {
          border-radius: 50%;
          display: block;
        @include wh(100%);
          background-repeat: no-repeat;
          background-size: contain;
        }

      }
      .name {
        margin-bottom: 16px;
        font-size: 12px;
        line-height: 1.5;
        text-align: center;
        color: #757575;
      }
    }
    .nav-user-wrapper {
      width: 168px;
      transform: translate(-50%);
      left: 50%;
    }
    .nav-user-list {
      width: 168px;
      &:before {
        left: 50%;
      }

    }
  }
  .shop {
    position: relative;
    float: left;
    margin-left: 21px;
    width: 61px;
    z-index: 99;
    &:hover {
      a:before {
        content: " ";
        background-position: 0 -22px;
      }
    }
    .nav-user-wrapper.active {
      top: 18px;
      visibility: visible;
      opacity: 1;
      -webkit-transition: opacity .15s ease-out;
      transition: opacity .15s ease-out;
    }
    > a {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      display: block;
      right: 0;
      z-index: 1;
      &:before {
        display: block;
      @include wh(30px, 100%);
        content: " ";
        background: url(/static/images/account-icon@2x.32d87deb02b3d1c3cc5bcff0c26314ac.png) 0 -22px;
        background-size: 240px 107px;
        background-position: -150px -22px;
      }
    }
    .cart-num {
      position: relative;
      display: block;
      margin-left: 31px;
      margin-top: -1px;
      min-width: 30px;
      text-indent: 0;
      line-height: 20px;
      > i {
        background: #eb746b;
        background-image: -webkit-linear-gradient(#eb746b, #e25147);
        background-image: linear-gradient(#eb746b, #e25147);
        box-shadow: inset 0 0 1px hsla(0, 0%, 100%, .15), 0 1px 2px hsla(0, 0%, 100%, .15);
        text-align: center;
        font-style: normal;
        display: inline-block;
      @include wh(20px);
        line-height: 20px;
        border-radius: 10px;
        color: #fff;
        font-size: 12px;
        &.no {
          background: #969696;
          background-image: -webkit-linear-gradient(#A4A4A4, #909090);
          background-image: linear-gradient(#A4A4A4, #909090);
          box-shadow: inset 0 0 1px #838383, 0 1px 2px #838383;
        }
      }

    }
    .nav-user-wrapper {
      right: 0;
      width: 360px;
      .nav-user-list {
        &:before {
          right: 34px;
        }
      }
    }
    .nav-user-list {
      padding: 0;
      width: 100%;
      .full {
        border-radius: 8px;
        overflow: hidden;
      }
      .nav-cart-items {
        max-height: 363px;
        overflow-x: hidden;
        overflow-y: auto;
      }
      .cart-item {
        height: 120px;
        width: 100%;
        overflow: hidden;
        border-top: 1px solid #f0f0f0;
        &:hover {
          background: #fcfcfc;
          .del {
            display: block;
          }
        }

      }
      li:first-child .cart-item:first-child {
        border-top: none;
        border-radius: 8px 8px 0 0;
        overflow: hidden;
      }
      .cart-item-inner {
        padding: 20px;
        position: relative;
      }
      .item-thumb {
        position: relative;
        float: left;
        width: 80px;
        height: 80px;
        border-radius: 3px;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 2;
          border: 0 solid transparent;
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .06);
          border-radius: 3px;
        }
        img {
          display: block;
        @include wh(80px, 80px);
          border-radius: 3px;
          overflow: hidden;
        }
      }
      .item-desc {
        margin-left: 98px;
        display: table;
      @include wh(205px, 80px);
        h4 {
          color: #000;
          width: 185px;
          overflow: hidden;
          word-break: keep-all;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 14px;
          line-height: 16px;
          margin-bottom: 10px;
        }
        .attrs span {
          position: relative;
          display: inline-block;
          margin-right: 20px;
          font-size: 14px;
          line-height: 14px;
          color: #999;
        }
        .attrs span:last-child {
          margin-right: 0;
        }
        h6 {
          color: #cacaca;
          font-size: 12px;
          line-height: 14px;
          margin-top: 20px;
          span {
            display: inline-block;
            font-weight: 700;
            color: #cacaca;
          }
          .price-icon, .price-num {
            color: #d44d44;
          }
          .price-num {
            margin-left: 5px;
            font-size: 14px;
          }
          .item-num {
            margin-left: 10px;
          }
        }

      }
      .cart-cell {
        display: table-cell;
        vertical-align: middle;
      }
      .del {
        display: none;
        overflow: hidden;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .nav-cart-total {
      box-sizing: content-box;
      position: relative;
      padding: 20px;
      height: 40px;
      background: #fafafa;
      border-top: 1px solid #f0f0f0;
      border-radius: 0 0 8px 8px;
      box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, .5), 0 -3px 8px rgba(0, 0, 0, .04);
      background: -webkit-linear-gradient(#fafafa, #f5f5f5);
      background: linear-gradient(#fafafa, #f5f5f5);
      p {
        margin-bottom: 4px;
        line-height: 16px;
        font-size: 12px;
        color: #c1c1c1;
      }
      h5 {
        line-height: 20px;
        font-size: 14px;
        color: #6f6f6f;
        span {
          font-size: 18px;
          color: #de4037;
          display: inline-block;
          font-weight: 700;
        }
        span:first-child {
          font-size: 12px;
          margin-right: 5px;
        }
      }
      h6 {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 108px;
      }
    }
  }
}

@media (max-height: 780px) {
  .nav-cart-items {
    max-height: 423px !important;
  }
}

@media (max-height: 900px) {
  .nav-cart-items {
    max-height: 544px !important;
  }
}

@media (max-height: 1080px) {
  .nav-cart-items {
    max-height: 620px !important;
  }
}

// 用户信息弹出
.nav-user-wrapper {
  position: absolute;
  z-index: 30;
  padding-top: 18px;
  opacity: 0;
  visibility: hidden;
  top: -3000px;
  .nav-user-list {
    position: relative;
    padding-top: 20px;
    background: #fff;
    border: 1px solid #d6d6d6;
    border-color: rgba(0, 0, 0, .08);
    border-radius: 8px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .15);
    z-index: 10;
    &:before {
      position: absolute;
      content: " ";
      background: url(/static/images/account-icon@2x.32d87deb02b3d1c3cc5bcff0c26314ac.png) no-repeat -49px -43px;
      background-size: 240px 107px;
    @include wh(20px, 8px);
      top: -8px;
      margin-left: -10px;
    }
  }
}

.nav-sub {
  position: relative;
  height: 120px;
  background: #fefefe;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .04);
  z-index: 1;
  &.fixed {
    position: fixed;
    z-index: 21;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #dadada;
    background-image: -webkit-linear-gradient(#fff, #f1f1f1);
    background-image: linear-gradient(#fff, #f1f1f1);
  }
  .nav-sub-wrapper {
    padding: 31px 0;
    height: 90px;
    position: relative;
    &.fixed {
      padding: 0;
      height: 100%;
      display: flex;
      align-items: center;
    }
    &:after {
      content: " ";
      position: absolute;
      top: 89px;
      left: 50%;
      margin-left: -610px;
      width: 1230px;
      background: #000;
      height: 1px;
      display: none;
      opacity: 0;
      -webkit-transition: opacity .3s ease-in;
      transition: opacity .3s ease-in;
    }
  }
  .w {
    display: flex;
    justify-content: space-between;
  }
  .nav-list {
    line-height: 28px;
    display: flex;
    align-items: center;
    height: 100%;
    li:first-child {
      padding-left: 0;
      a {
        padding-left: 10px;
      }
    }
    li {
      position: relative;
      float: left;
      padding-left: 2px;
      a {
        display: block;
        padding: 0 20px;
        color: #666;
      }
    }
    li:before {
      content: ' ';
      position: absolute;
      left: 0;
      top: 13px;
      width: 2px;
      height: 2px;
      background: #bdbdbd;
    }
  }
}

@media (min-width: 1px) {
  .nav-sub .nav-sub-wrapper:after {
    display: block;
  }
}

.cart-con {
  /*display: flex;*/
  text-align: center;
  position: relative;
  p {
    padding-top: 185px;
    color: #333333;
    font-size: 16px;
  }
}

.cart-con:before {
  position: absolute;
  content: ' ';
  left: 50%;
  transform: translate(-50%, -70%);
  top: 50%;
  width: 76px;
  height: 62px;
  background: url("/static/images/cart-empty-new.png") no-repeat;
  background-size: cover;
}
.show{
  display: block!important;
}
