<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luckwine.synthesize.dao.AdContentMapper">
    <select id="selectAdContentByPageId" resultType="com.luckwine.synthesize.model.base.AdContent">

        select *
        from ad_content c, ad_module m
        where c.ad_module_id=m.ad_module_id
        and m.page_id=#{pageId,jdbcType=VARCHAR}
        and c.status=#{status,jdbcType=INTEGER}
  </select>
</mapper>